snippet utf-8
	# -*- coding: utf-8 -*-
snippet ascii
	# -*- coding: ascii -*-
snippet latin1
	# -*- coding: latin-1 -*-
snippet from
	from ${1:package} import ${2:module}
snippet print
	print(${1:message})
snippet "
	"""
	${1:doc}
	"""
	${2}
snippet pdb
	import pdb; pdb.set_trace()
